{
    "rules": {
        "indent": [
            "error",
            "tab"
        ],
        "max-len": [
            "error",
            {
                "code": 200
            }
        ],
        "@typescript-eslint/no-var-requires": 0,
        "@typescript-eslint/no-explicit-any": 0,
        "@typescript-eslint/no-non-null-assertion": 0,
        "no-constant-condition": 0,
        "no-async-promise-executor": 0
    },
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "env": {
        "node": true
    }
}